.topnav {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-size: 8pt;
    font-weight: bold;
    font-family: Raleway,Helvetica,sans-serif;
    border-bottom: 1px solid rgb(164, 164, 164);
    letter-spacing: 0.5em;
    position: fixed;
    z-index: 10;
}
.navlink   {
    color: rgb(72, 72, 72);
}
.navlink:hover   {
    color: rgb(0, 145, 198);
}


.profile   {
    text-align: center;
    background-color: #e4e3e3;
    border-bottom: 1px solid rgb(164, 164, 164);
    padding-top: 30px;
}

#profilepic {
    width: 150px;
    height: 150px;
    clip-path: circle(40%);
    margin: auto;
    border: 1px solid whitesmoke;
    filter: grayscale(40%);
}
.intro   {
    font-family: Raleway,Helvetica,sans-serif;
    font-weight: 800;
    font-size: 12pt;  
    letter-spacing: .2em;
    color: rgb(72, 72, 72);
}
#title  {
    font-size: 11pt;
    font-weight: lighter;
}
h3  {
    font-family: Raleway,Helvetica,sans-serif;
    font-weight: 800;
    font-size: 12pt;  
    color: rgb(72, 72, 72);
}
#about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8pt;
    font-weight: lighter;
}

hr  {
    width: 80%;
}

#icon  {
    width: 30px;
    height: 30px ;
    padding: 10px;
    opacity: 75%;; 
}
#staticicon {
    width: 20px;
    height: 20px ;
    padding: 10px;
    background-color: #e4e3e3;
    clip-path: circle();
}
#icon:hover   {
    clip-path: circle();
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: scale;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

ul  {
    padding: 0;
}
li  {
    display: inline-flex;
}

.skills {
    padding: 0;
    text-align: center;
}

.column    {
    display: inline-flex;
    text-align: left;
    align-items: center;
    padding: 10px;
}
#skilldesc  {
    font-size: small;
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body    {
    margin: 0;
    z-index: 3;
}

.bio    {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    font-weight: lighter;
    text-align: center;
    color: black;
    width: 80%;
    margin: auto;
}


.highlights  {
    width: inherit;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
.samplelink {
    overflow: hidden;
    background-color: #e4e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
    max-width: 40%;
    display: inline-flex;
    margin: 10px;
}
.samplelink:hover   {
    opacity: 80%;
}

.linkimg    {
    width: 100%;
    filter: grayscale(50%);
}

a   {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.textlink   {
    text-decoration: underline;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #e4e3e3;
    font-size: 8pt;
    font-weight: lighter;
    color: #939393;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0px;
    border-top: 1px solid rgb(164, 164, 164);
    
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.screenshots    {
    width: 100%;
    display: inline-flex;
}
.projectintro {
    padding-top: 20px;
    text-align: center;
    background-color: #e4e3e3;
    font-family: Raleway,Helvetica,sans-serif;
    font-size: 14pt;  
    color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(164, 164, 164);
}

.screenshot {
    margin: 10px;
    border-radius: 10px;
    width: 20%;
}

.projectdesc    {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    font-weight: lighter;
    text-align: center;
    color: black;
    width: 80%;
    margin: auto;
    
}
.projectimages  {
    text-align: center;
    background-color: white;
}

