.profile  {
    text-align: center;
    background-color: #e4e3e3;
    margin: 0;
    padding-top: 20px;
}

#profilepic {
    width: 150px;
    height: 150px;
    clip-path: circle(40%);
    margin: auto;
    border: 1px solid whitesmoke
    
}
#profilepic:hover   {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.intro   {
    font-family: Raleway,Helvetica,sans-serif;
    font-weight: 800;
    font-size: 14pt;  
    letter-spacing: .2em;
    color: rgb(72, 72, 72);
}
#title  {
    font-size: 11pt;
    font-weight: lighter;
}
h3  {
    font-family: Raleway,Helvetica,sans-serif;
    font-weight: 800;
    font-size: 14pt;  
    color: rgb(72, 72, 72);
}
#highlights {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8pt;
    font-weight: lighter;
}

hr  {
    width: 75%;
}

#icon  {
    width: 30px;
    height: 30px ;
    padding: 10px; 
}
#staticicon {
    width: 20px;
    height: 20px ;
    padding: 10px;
    background-color: #e4e3e3;
    clip-path: circle();
}
#icon:hover   {
    clip-path: circle();
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: scale;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

ul  {
    padding: 0;
}
li  {
    display: inline-flex;
}

.skills {
    padding: 0;
    text-align: center;
}

.column    {
    display: inline-flex;
    text-align: left;
    align-items: center;
    padding: 10px;
}
#skilldesc  {
    font-size: small;
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body    {
    margin: 0;
}

.bio    {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    font-weight: lighter;
    text-align: center;
    color: black;
    width: 70%;
    margin: auto;
}


.samplework  {
    width: inherit;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
.samplelink {
    overflow: hidden;
    background-color: #e4e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
    max-width: 30%;
    display: inline-flex;
    margin: 10px;
}
.samplelink:hover   {
    opacity: 80%;
}

.linkimg    {
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #e4e3e3;
    font-size: 8pt;
    font-weight: lighter;
    color: #939393;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
